<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'stream/header.html' %}
    <title>Logged out</title>
    <style type="text/css">
        body {
            background-color: black;
            color: white;
        }
        a {
            color: white;
        }
        a:hover {
            color: gray;
        }

        .vertical-center {
            min-height: 100vh;

            display: flex;
            align-items: center;
        }

        .horizontal-center {
            width: 100%;
        }
    </style>
</head>
<body>
<div class="vertical-center">
    <div class="horizontal-center d-flex justify-content-center">
        <div>
            <p>Successfully logged out.</p>
            <p class="text-end"><a href="{% url 'stream:index' %}" title="Log in" aria-label="Log in">Log in</a></p>
        </div>
    </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</html>
