{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'favicon.ico' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {% block header %}
    {% endblock %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <title>Initial Setup</title>
</head>
<body>
<div class="container">
    {% csrf_token %}
    <div id="root"></div>
</div>

<script src="{% static 'InitialSettings-bundle.js' %}"></script>
<script src="{% static 'Common-bundle.js' %}"></script>
</body>
</html>
